@import 'bootstrap/dist/css/bootstrap.min.css';

.favorites {
  color: orange;
}

.favorites:hover {
  color: darkgoldenrod;
  cursor: pointer;
}

.list-item {
  width: 33%;
}

.list-poster {
  width: 100px;
}
